{% extends 'base.html' %}
{% block title%}
cryptoTools
{% endblock%}
{% block content %}

<style>
    .isprime-section {
        background-color: #f4f4f9;
        width: 100%;
        min-height: 100ch;
        padding: 20px;
    }

    .container-isprime {
        background-color: #ffffff;
        border: 1px solid #ccc;
        min-height: 80ch;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        overflow: auto;
    }

    h1 {
        font-size: 2.5em;
        color: #4CAF50;
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        margin-bottom: 10px;
        font-size: 16px;
        color: #333;
    }

    .input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    label {
        font-size: 18px;
        width: 80px;
        font-weight: bold;
    }

    input[type="text"] {
        flex: 1;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 10px;
    }

    input[type="text"] {
        flex: 1;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 10px;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1.1em;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    .button-groups {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
    }


    .note {
        color: #555;
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    details {
        margin-bottom: 20px;
    }
</style>


<section class="isprime-section">
    <div class="container-isprime">
        <h1>Prime Check and Factorization</h1>

        <!-- Section 1 -->
        <div class="input-group">
            <label for="numberN">Input N:</label>
            <input type="text" id="numberN" placeholder="Enter number N">
        </div>
        <div class="button-groups">
            <button type="button" onclick="checkPrime()">Check Prime</button>
            <button type="button" onclick="factor()">Factor</button>
        </div>

        <div id="log-area-checkprime"></div>
        <div id="loader-area-checkprime"></div>
        <div id="checkPrimeOutput" style="display: none; margin-top: 20px;">
            <div class="input-group">
                <label for="res1"><strong> N is Prime: </strong></label>
                <input type="text" id="res1" readonly>
            </div>
        </div>
        <div id="error-area-checkprime"></div>

        <div id="log-area-factor"></div>
        <div id="loader-area-factor"></div>
        <div id="factorOutput" style="display: none; margin-top: 20px;">
            <div class="input-group">
                <label for="res2"><strong>Prime Factors: </strong></label>
                <input type="text" id="res2" readonly>
            </div>
        </div>
        <div id="error-area-factor"></div>


        <!-- Section 2 -->
        <br>
        <h1>Generate Primes</h1>
        <div class="input-group">
            <label for="primeLimit">Min no. of bits:</label>
            <input type="text" id="primeLimit" placeholder="Enter the minimum number of bits">
        </div>

        <div class="input-group">
            <label for="numPrimes">No. of primes:</label>
            <input type="text" id="numPrimes" placeholder="Enter the number of primes to generate">
        </div>

        <div>
            <input type="checkbox" id="want3Mod4" name="want3Mod4" value="3Mod4">
            <label for="want3Mod4" style="width: auto;">Generated primes must be congruent to 3 mod 4</label>
        </div>

        <div class="button-groups"><button onclick="generatePrimes()">Generate Primes</button></div>

        <div id="log-area-genprimes"></div>
        <div id="loader-area-genprimes"></div>
        <div id="primeOutput" style="display: none; margin-top: 20px;">
            <div class="input-group">
                <label for="res3"><strong> Primes: </strong></label>
            </div>
            <div id="res3"></div>
        </div>
        <div id="error-area-genprimes"></div>
    </div>
</section>

<script>
    async function checkPrime() {
        const N = document.getElementById("numberN").value;
        const validator = async () => {
            if (!isNumberValid(N)) {
                throw new Error("Please enter a valid number.");
            }
        };

        const res = await callAPIFull(validator, "Check Prime", "" + N, "loader-area-checkprime", "error-area-checkprime", "log-area-checkprime", "Checking if the number is prime...");

        if (null !== res) {
            document.getElementById("res1").value = res.output;
            document.getElementById("checkPrimeOutput").style.display = "block";
        }
    }

    async function factor() {
        const N = document.getElementById("numberN").value;
        const validator = async () => {
            if (!isNumberValid(N)) {
                throw new Error("Please enter a valid number.");
            }
        };

        const res = await callAPIFull(validator, "Factor", "" + N, "loader-area-factor", "error-area-factor", "log-area-factor", "Factoring the number...");

        if (null !== res) {
            document.getElementById("res2").value = res.output;
            document.getElementById("factorOutput").style.display = "block";
        }
    }

    async function generatePrimes() {
        const numberOfBits = document.getElementById("primeLimit").value;
        const numPrimes = document.getElementById("numPrimes").value;
        const want3Mod4 = document.getElementById("want3Mod4").checked;

        const validator = async () => {
            if (!isNumberValid(numberOfBits) || !isNumberValid(numPrimes)) {
                throw new Error("Please enter valid numbers.");
            }
        };

        const res = await callAPIFull(validator, "Generate Primes", `${numberOfBits},${numPrimes},${want3Mod4}`, "loader-area-genprimes", "error-area-genprimes", "log-area-genprimes", "Generating primes...");

        if (null !== res) {
            const numbers = res.output.split(",");
            const res3 = document.getElementById("res3");

            res3.innerHTML = "";
            for (let i = 0; i < numbers.length; i++) {
                res3.innerHTML += `<input type="text" value="${numbers[i]}" readonly>`;
            }

            document.getElementById("primeOutput").style.display = "block";
        }
    }
</script>

{%endblock%}