{% extends 'base.html' %}
{% block title%}
cryptoTools
{% endblock%}
{% block content %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rsa.css') }}">
        <script src="{{ url_for('static', filename='js/rsa.js') }}"></script>

        <div class="rsa-section">
            <div class="rsa-container">
                <h1>RSA Signature (explained step by step)</h1>
                <p>Here you can see how to sign and verify using the RSA procedure step by step.</p>
                
                <!------- Step 1 ------->
                <h2>Step 1: Set prime numbers</h2>
                <p>As a starting point for RSA, choose two prime numbers <var>p</var> and <var>q</var>:</p>
                <div class="input-group">
                    <div class="input-item">
                        <label for="p"><var>p</var> = </label>
                        <input type="number" id="p" placeholder="Enter prime number">
                    </div>
                    <div class="input-item">
                        <label for="q"><var>q</var> = </label>
                        <input type="number" id="q" placeholder="Enter prime number">
                    </div>
                </div>
                <div>
                    <button type="submit">Next Step</button>
                </div>
                
                <!------- Step 2 ------->
                <h2>Step 2: Calculate key values</h2>
                <p>The next steps will calculate the two keys.</p>
                <p>Both consist of two numbers, one of which is equal.</p>
                <p>Private key: (<var>n</var>, <var>a</var>)</p>
                <p>Public key: (<var>n</var>, <var>b</var>)</p>
                
                <!------- Step 2.1 ------->
                <h4><var>n</var> (Step 2.1)</h4>
                <p>To calculate <i>n</i>, simply multiply <i>p</i> and <i>q</i>.</p>
                <p><var>n</var> = <var>p</var> . <var>q</var></p>
                <p id="p-q-value"> <var>n</var> = </p>
                <p id="n-value"><var>n</var> = </p>
                
                <!------- Step 2.2 ------->
                <h4><var>ϕ(n) </var>(Step 2.2)</h4>
                <p>To calculate the further values <var>e</var> and <var>d</var> the Euler phi function <var>ϕ</var> is used.
                  It calculates how many numbers coprime to <var>n</var> are there, which are not larger than <var>n</var>. </p>
                <p> <var>ϕ</var>(<var>n</var>) = (p - 1) . (q - 1) </p>
                <p id="p-1-q-1-value"><var>ϕ</var>(<var>n</var>) = </p>
                <p id="phi-value"><var>ϕ</var>(<var>n</var>) = </p>
                    
                <!------- Step 2.3 ------->
                <h4><var>b</var> (Step 2.3)</h4>
                <p>Choose a number <var>b</var> that is coprime to <var>φ</var>(<var>n</var>) and smaller than it.</p>
                <label for="b"> <var>b</var> = </label>
                <input type="number" id="b" placeholder="Enter number">
                <div>
                    <button type="submit">Next Step</button>
                </div>
                
                <!------- Step 2.4 ------->
                <h4> <var>a</var> (Step 2.4)</h4>
                <p>The number <var>a</var> is the multiplicative inverse to b</p>
                <p>Expressed in formulas, the following must apply:</p>
                <p> (<var>a</var> . <var>b</var>) mod <var>ϕ</var>(<var>n</var>) = 1 </p>
                <p id="a-value"><var>a</var> = </p>
    
                <div>
                    <button type="submit">Generate Key</button>
                </div>
                <h3 id = "public-key">Public key: <var>(n,b) = </var></h3>
                <h3 id = "private-key">Private key: <var>(n,a) = </var></h3>
                
                <!------- Encryption ------->
                <h2>Step 3: Sign the Message</h2>
                <p>To sign a message <var>m</var>, calculate the signature <var>s</var> using the private key:</p>
                <p> <var>s = m <sup>d</sup> mod n</var> </p>
                
                <div class="input-form-group">
                    <label for="message-to-sign"> <var>m</var> (Message to Sign):  </label>
                    <input id="message-to-sign" type="number" placeholder="Enter number">
                    <select id="input-type-selector" onchange="changeInputType()">
                        <option value="number" selected>Number</option>
                        <option value="text">Text</option>
                    </select>
                </div>
    
                <div>
                    <button type="button" onclick="signMessage()">Sign Message</button>
                </div>
                <p id="signature-value">Signature: </p>
        
                 <!------- Verify ------->
                <h2>Step 4: Verify the Signature</h2>
                <p>To verify a signature, use the public key and compute:</p>
                <p> <var>m' = s <sup>e</sup> mod n</var> </p>
                
                <div class="input-form-group">
                    <label for="signature-to-verify"> <var>m</var> (Message to Sign):  </label>
                    <input id="signature-to-verify" type="number" placeholder="Enter number">
                    <select id="input-type-selector" onchange="changeInputType()">
                        <option value="number" selected>Number</option>
                        <option value="text">Text</option>
                    </select>
                </div>
                <div>
                    <button type="button" onclick="verifySignature()">Verify Signature</button>
                </div>
                <p id="verification-result">Verification Result: </p>
        
            </div>
        </div>
{%endblock%}