{% extends 'base.html' %}
{% block title%}
cryptoTools
{% endblock%}
{% block content %}

<style>
    .dia-section {
        background-color: #f4f4f9;
        width: 100%;
        height: 130ch;
        padding: 20px;
    }
    
    .container-dia {
        background-color: #ffffff;
        border: 1px solid #ccc;
        height: 120ch;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items: center ;
    }

    .container-dia h1,h2 {
        color: #333;
    }
    
    .container-dia h1 {
        font-size: 32px;
        margin-top: 20px;
    }
    
    .container-dia h2 {
        font-size: 24px;
        margin-top: 30px;
    }
    
    .container-dia p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .container-dia ul {
        content: "•";
        list-style-type: none;
        padding: 0;
    }
    
    .container-dia ul li {
        margin-bottom: 10px;
    }
    
    .container-dia ul li a {
        color: #006400; /* Xanh đậm */
        text-decoration: none;
    }
    
    .container-dia ul li a:hover {
        text-decoration: underline;
    }
    
    .container-dia .highlight {
        font-weight: bold;
    }
    
    
</style>


<section class="dia-section">
    <div class="container-dia">
        <h1> Links and Books </h1>
        <p>This list contains only a small selection of sites about cryptography within the Internet.</p>
        <p>Further links are contained within the download programs of CrypTool and within the <strong>book</strong> delivered with CrypTool. We appreciate your advice on further interesting links.</p>
        <h2>Primes, Number Theory and Cryptology (Links and Books)</h2>
        <h5>Web sites (and teaching projects)</h5>
        <ul>
            <li>
                - The website of Bill Buchanan, a Professor at the <span class="highlight">Edinburgh Napier University</span> is one of the most extensive web sites for practically learning encryption methods.
                <ul>
                    <li><a href="https://asecuritysite.com/encryption" target="_blank">https://asecuritysite.com/encryption</a> – Crypto material with interactive parts and code in JS and Python 2</li>
                    <li><a href="https://asecuritysite.com/challenges" target="_blank">https://asecuritysite.com/challenges</a> – Several codes and ciphers as small challenge</li>
                    <li><a href="https://asecuritysite.com/encryption/ctf" target="_blank">https://asecuritysite.com/encryption/ctf</a> – Classical printable forms used for a cipher CTF generator</li>
                    <li><a href="https://asecuritysite.com/csn11117" target="_blank">https://asecuritysite.com/csn11117</a> – A number of undergraduate and postgraduate modules</li>
                </ul>
            </li>
            <li>
                - The Kryptologikum is a collection of <span class="highlight">KIT</span> with many historical exhibits in display cabinets, plus many hands-on experiments, where everyone can learn in a playful way about the principles of modern cryptography.
                <ul>
                    <li><a href="http://kryptologikum.de/index.html" target="_blank">http://kryptologikum.de/index.html</a></li>
                </ul>
            </li>
            <li>
                - Emma's blog with a 1-page overview about crypto resources. This blog at Norton360Online is educational, and avoids – to our knowledge – any 'marketing'.
                <ul>
                    <li><a href="https://www.nortonsecurityonline.com/security-center/cryptography-resource-guide.html" target="_blank">https://www.nortonsecurityonline.com/security-center/cryptography-resource-guide.html</a></li>
                </ul>
            </li>
            <li>
                - Website by Joerg Drobick with nearly all codes and encryption mechanisms used in the GDR – (only German)
                <ul>
                    <li><a href="http://scz.bplaced.net" target="_blank">http://scz.bplaced.net</a></li>
                </ul>
            </li>
        </ul>
        <h5>Books</h5>
        <h2>More Link list and slide</h2>
        <ul>
            <li>
                - RSA
                <ul>
                    <li>
                        <a href="/static/slide/Bài 1. Hệ mật khóa công khai  RSA..pdf" download>RSA algorithm</a>    
                    </li>
                    <li>
                        <a href="/static/slide/BG ChIV Bài 4.1 Sơ đồ chữ số RSA.docx" download>RSA diagram</a>
                    </li>
                </ul>
            </li>
            <li>
                - ElGamal
                <ul>
                    <li>
                        <a href="/static/slide/BG Bài 5.2. Sơ đồ chữ ký ElGamal và chuẩn chữ ký điện tử..docx" download>ElGAmal algorithm</a>    
                    </li>
                </ul>
            </li>
            <li>
                - Elliptic Curve
                <ul>
                    <li>
                        <a href="/static/slide/Bài 4.3 Hệ mật trên đường cong Elliptic (Elliptic Curves Cryptography - ECC)-CHU-Y-CAI-NAY-THI-CUOI-KY.pdf" download>Elliptic curve</a>    
                    </li>
                    <li>
                        <a href="/static/slide/BG ChIV Bài 4.3 Các sơ đồ chữ ký trên đường cong Elliptic.docx" download>Signature in elliptic curve</a>    
                    </li>
                </ul>
            </li>
            <li>
                - Another algorithm
                <ul>
                    <li>
                        <a href="/static/slide/BG ChI Bài 1. Một số hệ mật cổ điển.pdf" download>Another classical cryptography</a>    
                    </li>
                    <li>
                        <a href="/static/slide/BG ChVIII Bài 2. Giao thức Feige-Fiat-Shamir.pdf" download>Feige-Fiat-Shamir</a>    
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>

{%endblock%}